In [2]:
import pandas as pd
import numpy as np

Projet Market Risk 

Cabal Paul-Louis & Braun Arthur

Question A :

From the time series of the daily prices of the stock Natixis between January 2015 and December 2016,
provided with TD1, estimate a historical VaR on price returns at a one-day horizon for a given
probability level (this probability is a parameter which must be changed easily). You must base your
VaR on a non-parametric distribution (Epanechnikov Kernel).

Importons les données

In [7]:
dataset = pd.read_csv("Natixis_stock.txt", sep = "\t")
dataset

      02/01/2015  5,621
0     05/01/2015  5,424
1     06/01/2015  5,329
2     07/01/2015  5,224
3     08/01/2015  5,453
4     09/01/2015   5,34
...          ...    ...
1017  21/12/2018  4,045
1018  24/12/2018   4,01
1019  27/12/2018  3,938
1020  28/12/2018  4,088
1021  31/12/2018  4,119

[1022 rows x 2 columns]

In [8]:
returns = []
while dataset[0][i] != "30/12/2016" :
    if

SyntaxError: invalid syntax (Temp/ipykernel_6712/2291157851.py, line 1)